<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express App</title>
</head>
<body>
    <ul>
        <li><a href="/beginning.html">Beginning</a></li>
        <li><a href="/middle.html">Middle</a></li>
        <li><a href="/end.html">End</a></li>
        <li><a href="/p1.html">P1</a></li>
        <li><a href="/p2.html">P2</a></li>
        <li><a href="/final.html">Final</a></li>
    </ul>
    {{{body}}}
</body>
</html>