<h1>Full Story</h1>
<p>I was watching TV with Mark, when suddenly... 
a breaking news alert showed a llama running on the freeway.
Even though we saw that three years ago, we still laugh to this day.
To see a llama on t.v. is funny, but... 
I think seeing one in real life would be hilarious. </p>